.profilInput{
  font-size: 18px;
}

.profilPic {
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.toolbar-background {
  background-image: url('../assets/img/fond_header.jpg');
   background-size: cover;
  //background: #000;
}

.toolbar-title {
  color: #FFF;
}
